html, body {
	width: 100%;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

header, #side-container {
	width: 100%;
	height: 100%;
}



#map-canvas {
/*	position: absolute;*/
/*    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;*/
    margin-top: 225px;
	background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

header {
/*	position: absolute;*/
	opacity: 100%;
	background-color: rgba(54,22,22,0.85);
/*	margin-left: 0px;*/
/*	border-radius: 5px;
	box-shadow: 0px 0px 22px 7px #2F1200;
	padding-bottom: 3px;*/
	order: 0;
}

#header-title {
/*	margin: 5px 0px 0px 10px;*/
	color: rgba(236,220,207,0.8);
	font-style: bold;
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 3px 3px 7px black;
	text-align: center;
	margin: 0px;
	padding: 10px 10px 3px 10px;
}

#notification-text {
	color: rgba(236,220,207,0.7);
	font-style: italic;
	text-align: center;
	font-size: 100%;
	margin: 3px 5px 5px 10px;
}

#search-form {
	color: black;
	padding: 7px 5px 5px 10px;
	text-align: center;
	width: 100%;
}

#search-input {
/*	width: 80%;*/
	padding: 5px 10px 5px 10px;
	font-style: italic;
	font-size: 1em;
	background-color: rgba(250,246,243,1);
	border-radius: 5px;
}

#search-btn {
	background-color: rgba(250,246,243,1);
	border-radius: 5px;
}

#list-view {
	height: 115px;
	overflow-y: scroll;
/*	background-color: rgba(54,22,22,0.85);*/
	background-color: #F2DABB;
	border-bottom: 3px solid #2F1200;
	box-shadow: 0 5px 30px #2F1200;
/*	box-shadow-bottom: 0px 0px 0px 0px #2F1200;*/
}

ul {
/*	position: absolute;*/
/*	margin-top: 95px;*/
	list-style-type: none;
	padding: 4px 40px 0px 40px;
	background-color: rgb(100,88,23,1);
}

/*Upon hover, indicate list item choice to user by changing background color*/
ul :hover {
    background-color: rgba(80,36,36,1);
    color: rgba(236,220,207,0.7);
    text-shadow: 1px 1px 2px black;
    border-color: rgba(250,246,243,1);
}

li {
	text-align: center;
	text-shadow: 1px 1px 15px tan;
	color: rgba(54,22,22,0.85);
	padding: 5px;
	padding-right: 20px;
	margin: 2px;
	padding-left: 10px;
	border: 1px solid rgba(54,22,22,0.85);
	border-radius: 7px;
	background-color: rgba(250,246,243,1);
	box-shadow: 0px 0px 5px 1px rgba(54,22,22,0.85);
}



@media screen and (min-width: 600px)  {
/*	#container {
		width: 100%;
	}
	header {
		width: 100%;
	}*/
	#header-title {
		font-size: 300%;
	}
	#search-input {
		width: 450px;
	}
	#
}

@media screen and (min-width: 700px) {
/*	#container {
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}*/
	#map-canvas {
		margin-top: 125px;
		margin-left: 150px;
		position: absolute;
	}
	#list-view {
		width: 225px;
		height: 100%;
		background-color: #5E1313;
		position: absolute;
		margin: 0px;
	}
	ul {
		padding: 10px 10px 0px 10px;
	}
	#notification-text {
		font-size: 125%;
	}
}
